ul,
li {
  list-style-type: none;
  padding-left: 15px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

.sidebar {
  width: 300px;
  background-color: #ddd;
  height: calc(88vh - 50px);
  border-radius: 1rem 1rem 1rem 1rem;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 2;
  transition: 0.5s ease-in-out;
  left: 2vw;
  top: 450px;
}

.menu {
  position: relative;
}

.bgc-blog {
  margin-top: 40px;
  margin-left: 85px;
  background: white;
  padding: 10px;
  border-radius: 15px;
  width: 60px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

.section-p {
  width: 220px;
  background-color: #2196f3;
  padding: 8px;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  color: white;
  text-transform: uppercase;
  margin-bottom: 10px;
  cursor: pointer;
}

.section-p p {
  margin: 0px;
}

.section-seminar {
  width: 220px;
  background-color: #fff;
  padding: 8px;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin-bottom: 10px;
}

.section-seminar p,
a {
  margin: 0px;
  color: #565656;
  font-size: 14px;
}

.section-seminar a:hover {
  text-decoration-line: underline;
}

/*  */
*,
::after,
::before {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsla(0, 0%, 100%, 0);
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #e5e5e5;
}

/* Handle */
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 8px hsl(0deg 0% 100% / 0%);
  border-radius: 3rem;
  margin-top: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2196f3;
}

.sidebar .top_bar .side_bar_btn {
  width: 40px;
  height: 40px;
  background-color: #2196f3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  cursor: pointer;
  position: fixed;
  z-index: 7;
  top: 430px;
  left: 155px;
  color: white;
}

.sidebar.collapse {
  left: -300px;
}

.side_bar_btn {
  transition: 0.6s ease-in-out;
  -webkit-transition: 0.6s ease-in-out;
}

.sidebar,
.top_bar,
.side_bar_btn {
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}

.sidebar.collapse .top_bar .side_bar_btn {
  transform: rotate(180deg);
  left: 2vw;
  /* margin-left: 2vw; */
}

.title {
  font-weight: bolder;
  color: #000;
  line-height: 110%;
  position: absolute;
  top: 53%;
  transform: translateY(-50%);
  font-size: 65px;
  margin-left: 120px;
  margin-right: 120px;
}

.hero {
  display: block;
  min-height: 500px;
  position: relative;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position-y: 38% !important;
  margin: -8px;
}

.main {
  width: 720px;
  max-width: 80vw;
  margin-left: 400px;
  margin-right: auto;
}

.container-image {
  margin-top: 30px;
}

.image-profil {
  background-color: #dcdcdc;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #b0b0b0;
  box-shadow: 0 0 12px #0000004e;
  -webkit-box-shadow: 0 0 12px #0000004e;
  -moz-box-shadow: 0 0 12px #0000004e;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-profile {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 17px;
  color: black;
}

.date {
  font-size: 12px;
  margin: 0px;
}

.name {
  margin: 0px;
}

.image-content {
  max-width: 90%;
  max-height: 70vh;
  text-align-last: center;
  text-align-last: -moz-center;
  text-align-last: -webkit-center;
  display: block;
  margin: auto;
  margin-bottom: 45px !important;
}

.sidebar-top {
  top: 100px;
}

/* .btn-top {
  top: 80px;
} */

.sidebar .top_bar .btn-top {
  width: 40px;
  height: 40px;
  background-color: #2196f3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  cursor: pointer;
  position: fixed;
  z-index: 7;
  top: 80px;
  left: 155px;
  color: white;
}

.main-content p {
  font-size: 18px;
}

.link a:hover {
  text-decoration-line: underline;
}
